.icon-demo-list {
  display: flex;
  flex-wrap: wrap;
  .icon-item {
    width: 100px;
    text-align: center;
    color: #7c7c7c;
    &:hover {
      color: #0d6efd;
    }
  }
  .vc-icon {
    display: block;
    margin: 10px auto;
  }
}
